$brand-color: #243b7f;
$hover-color: #3e569d;
$white-color: #ffffff;
$black-color: #000000;
$section-background-color: #f7f5f6;
$first-shadow-color: #808080;
$second-shadow-color: #d6d1b9;
$third-shadow-color: #b1afaf;
$first-program-color: #21a371;
$second-program-color: #4ab500;
$third-program-color: #2a4687;
$fourth-program-color: #f50021;
$grey-text-color: #58595b;
$grey-border-color: #a5a4a4;
$first-accent-btn-color: #f9cf93;
$second-accent-btn-color: #f9e399;
$first-hover-accent-btn-color: #f9c67d;
$second-hover-accent-btn-color: #fbdd7c;
$error-color: #ff0000;
$important-color: #4a81f6;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$netbook-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
